h1{
    font-size:75px;
    color:azure;
    text-align: center;
    font-family:cursive
}

body
{
background-image: url('wolfs.jpg');
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
}
button
{
font-family:cursive;
font-size: medium;
}